input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn.custom {
  width: unset;
}
.btn.custom ~ .btn.custom {
  margin-left: 5px;
}
.btn-check:focus + .btn.custom,
.btn.custom:focus {
  outline: 0;
  box-shadow: unset;
}
