<ul class="sidebar-nav">
    <li class="sidebar-item active">
        <a class="sidebar-link collapsed" href="#" data-bs-target="#collapse-system" data-bs-toggle="collapse"
            aria-expanded="false">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Hệ thống</span>
        </a>
        <ul id="collapse-system" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
            <li class="sidebar-item"><a class="sidebar-link active" href="#">Analytics</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#">E-Commerce</a></li>
            <li class="sidebar-item"><a class="sidebar-link" href="#">Crypto</a></li>
        </ul>
    </li>
</ul>