<div class="row">
    <div class="col border position-relative m-3 p-3">
        <span class="position-absolute top-0 start-50 translate-middle badge bg-white">
            <h5>Thông Tin Hợp Đồng</h5>
            <span class="visually-hidden">unread messages</span>
        </span>
        <form class="row" [formGroup]="contractForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12 mb-3">
                <label for="exampleInputEmail1" class="form-label">Mã hợp đồng:</label>
                <input type="text" class="form-control" id="" placeholder="Nhập mã sinh viên..."
                    formControlName="mahopdong" onkeyup="this.value=this.value.toUpperCase()">
            </div>
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col">
                        <label for="exampleInputEmail1" class="form-label">Mssv:</label>
                        <input type="text" class="form-control" list="datalistOptions"
                            placeholder="Nhập mã sinh viên..." formControlName="mssv"
                            onkeyup="this.value=this.value.toUpperCase()">
                        <datalist id="datalistOptions">
                            <option *ngFor="let item of Masv" [value]="item.Mssv">{{item.Mssv}}</option>
                        </datalist>
                    </div>
                    <div class="col">
                        <label for="" class="form-label">Nhân viên lập:</label>
                        <input type="text" class="form-control" [value]="tennv" readonly>
                        <input type="hidden" class="form-control" id="" placeholder="Nhập mã nhân viên..."
                            formControlName="manv" readonly>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col">
                        <label for="" class="form-label">Mã phòng:</label>
                        <select class="form-select" formControlName="map">
                            <option *ngIf="room.length!=0; else elseBlock">--Chọn phòng--</option>
                            <option *ngFor="let item of room" [value]="item.MaP">{{item.MaP}}</option>
                            <ng-template #elseBlock>
                                <option>--Hiện tại chưa có phòng--</option>
                            </ng-template>
                        </select>
                    </div>
                    <div class="col">
                        <label for="" class="form-label">Số tháng muốn ở:</label>
                        <select class="form-select" formControlName="thoigian_o">
                            <option value="6">6 Tháng</option>
                            <option value="11">11 Tháng</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col">
                        <label for="" class="form-label">Ngày bắt đầu ở:</label>
                        <input bsDatepicker type="text" class="form-control" formControlName="ngaybatdau"
                            placeholder="dd-mm-yyyy" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
                    </div>
                    <div class="col">
                        <label for="" class="form-label">Ngày kết thúc:</label>
                        <input bsDatepicker type="text" class="form-control" formControlName="ngayketthuc"
                            placeholder="dd-mm-yyyy" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}"
                            style="pointer-events: none;">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <label for="" class="form-label">Ngày lập:</label>
                <input bsDatepicker type="text" class="form-control" formControlName="ngaylap" placeholder="dd-mm-yyyy"
                    [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
            </div>
            <div class="col-sm-12 mt-3 d-flex flex-row">
                <button type="submit" class="btn btn-success">Lưu Thông Tin</button> &nbsp;
            </div>
        </form>
    </div>
    <div class="col border position-relative m-3 p-3">
        <span class="position-absolute top-0 start-50 translate-middle badge bg-white">
            <h5>Thông Tin Sinh Viên</h5>
            <span class="visually-hidden">unread messages</span>
        </span>
        <form class="row" [formGroup]="studentForm" class="row" (ngSubmit)="onSubmit()">
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="exampleInputEmail1" class="form-label">Họ tên:</label>
                        <input type="text" class="form-control" id="" placeholder="Nhập họ tên..."
                            formControlName="hoten">
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">Ngày sinh:</label>
                        <input bsDatepicker type="text" class="form-control" formControlName="ngaysinh"
                            placeholder="dd-mm-yyyy" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label for="" class="form-label">Mã số sinh viên:</label>
                        <input type="text" class="form-control" formControlName="mssv"
                            placeholder="Nhập mã số sinh viên...">
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">Giới tính:</label>
                        <select class="form-select" formControlName="phai">
                            <option>--Chọn--</option>
                            <option value="0">Nam</option>
                            <option value="1">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label for="" class="form-label">Số điện thoại:</label>
                        <input type="number" class="form-control" id="" placeholder="Nhập số điện thoại..."
                            onkeypress="if(this.value.length == 10) return false;" formControlName="dienthoai">
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">CMND/CCCD:</label>
                        <input type="number" class="form-control" id="" placeholder="Nhập CMND hoặc CCCD..."
                            onkeypress="if(this.value.length == 10) return false;" formControlName="cmnd">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label for="" class="form-label">Lớp:</label>
                        <select class="form-select" formControlName="lop">
                            <option>--Chọn lớp--</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">Dân tộc:</label>
                        <input type="text" class="form-control" formControlName="dantoc">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <label for="" class="form-label">Địa chỉ:</label>
                        <input type="text" class="form-control" id="" placeholder="Nhập địa chỉ..."
                            formControlName="diachi">
                    </div>
                </div>
            </div>
            <small class="text-danger"><i>Lưu ý: Nếu chưa có sinh viên, vui lòng nhập thông tin sinh viên</i></small>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped display nowrap mt-4" style="width:100%" id="contract">
    <thead>
        <tr class="text-center">
            <th>Mã hợp đồng</th>
            <th>Mã sinh viên</th>
            <th>Mã phòng</th>
            <th>Nhân viên lập</th>
            <th>Ngày lập</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <div *ngIf="contract.length!=0; else contractCheck" class="text-center"></div>
        <ng-template #contractCheck>
            <tr class="text-center">
                <td colspan="8" style="font-family: 'Baloo Tamma 2', cursive;font-size: 18px;">Hiện không có hợp đồng
                </td>
            </tr>
        </ng-template>
        <tr *ngFor="let item of contract">
            <td>{{item.MaHopDong}}</td>
            <td>{{item.Mssv}}</td>
            <td>{{item.MaP}}</td>
            <td>{{item.Mssv}}</td>
            <td>{{item.Ngay_Lap | date:'dd-MM-yyyy'}}</td>
            <td>{{item.Ngay_Bat_Dau | date:'dd-MM-yyyy'}}</td>
            <td>{{item.Ngay_Ket_Thuc | date:'dd-MM-yyyy'}}</td>
            <td>
                <button class="btn btn-success custom" (click)="selectRowValue(item)">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger custom" (click)="delete(item.MaHopDong)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>