<div class="row">
    <div class="col">
        <form class="row" [formGroup]="contractForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
                <label for="exampleInputEmail1" class="form-label">Mã hợp đồng:</label>
                <input type="text" class="form-control" id="" placeholder="Nhập mã sinh viên..."
                    formControlName="mahopdong">
            </div>
            <div class="col-md-12">
                <label for="exampleInputEmail1" class="form-label">Mssv:</label>
                <input type="text" class="form-control" id="" placeholder="Nhập mã sinh viên..." formControlName="mssv">
            </div>
            <div class="col-md-12">
                <label for="" class="form-label">Mã phòng:</label>
                <select name="" id="" class="form-select" formControlName="map">
                    <option>--Chọn--</option>
                </select>
            </div>
            <div class="col-md-12">
                <label for="" class="form-label">Nhân viên lập:</label>
                <input type="text" class="form-control" id="" placeholder="Nhập mã nhân viên..." formControlName="manv">
            </div>
            <div class="col-md-12">
                <label for="" class="form-label">Ngày lập:</label>
                <input bsDatepicker type="text" class="form-control" formControlName="ngaylap" placeholder="dd-mm-yyyy"
                    [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
            </div>
            <div class="col-md-12">
                <label for="" class="form-label">Ngày bắt đầu:</label>
                <input bsDatepicker type="text" class="form-control" formControlName="ngaybatdau"
                    placeholder="dd-mm-yyyy" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
            </div>
            <div class="col-md-12">
                <label for="" class="form-label">Ngày kết thúc:</label>
                <input bsDatepicker type="text" class="form-control" formControlName="ngayketthuc"
                    placeholder="dd-mm-yyyy" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
            </div>

            <div class="col-sm-12 mt-3 d-flex flex-row">
                <button type="submit" class="btn btn-primary">Thêm mới</button> &nbsp;
                <button [disabled]="id==0?true:false" class="btn btn-success" type="button" (click)="update()">Cập
                    nhật</button>
            </div>
        </form>
    </div>
    <div class="col">
        <form class="row" [formGroup]="studentForm" class="row" (ngSubmit)="onSubmit()">
            <div class="col-md-12 mb-3">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="exampleInputEmail1" class="form-label">Họ tên:</label>
                        <input type="text" class="form-control" id="" placeholder="Nhập họ tên..."
                            formControlName="hoten">
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">Ngày sinh:</label>
                        <input bsDatepicker type="text" class="form-control" formControlName="ngaysinh"
                            placeholder="dd-mm-yyyy" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label for="" class="form-label">Mã số sinh viên:</label>
                        <input type="text" class="form-control" formControlName="mssv"
                            placeholder="Nhập mã số sinh viên...">
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">Giới tính:</label>
                        <select class="form-select" formControlName="phai">
                            <option>--Chọn--</option>
                            <option value="0">Nữ</option>
                            <option value="1">Nam</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label for="" class="form-label">Số điện thoại:</label>
                        <input type="number" class="form-control" id="" placeholder="Nhập số điện thoại..."
                            onkeypress="if(this.value.length == 10) return false;" formControlName="dienthoai">
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">CMND/CCCD:</label>
                        <input type="number" class="form-control" id="" placeholder="Nhập CMND hoặc CCCD..."
                            onkeypress="if(this.value.length == 10) return false;" formControlName="cmnd">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-6">
                        <label for="" class="form-label">Lớp:</label>
                        <select class="form-select" formControlName="lop">
                            <option>--Chọn lớp--</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="form-label">Dân tộc:</label>
                        <input type="text" class="form-control" formControlName="dantoc">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <label for="" class="form-label">Địa chỉ:</label>
                        <input type="text" class="form-control" id="" placeholder="Nhập địa chỉ..."
                            formControlName="diachi">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered table-striped display nowrap mt-4" style="width:100%" id="contract">
    <thead>
        <tr>
            <th>ID</th>
            <th>Mã hợp đồng</th>
            <th>Mã sinh viên</th>
            <th>Mã phòng</th>
            <th>Nhân viên lập</th>
            <th>Ngày lập</th>
            <th>Ngày bắt đầu</th>
            <td>Ngày kết thúc</td>
            <td></td>
        </tr>
    </thead>
    <tbody *ngIf="contract">
        <tr *ngFor="let item of contract">
            <th>{{item.id}}</th>
            <th>{{item.MaHopDong}}</th>
            <th>{{item.Mssv}}</th>
            <th>{{item.MaP}}</th>
            <th>{{item.Mssv}}p</th>
            <th>{{item.NgayLap}}</th>
            <th>{{item.NgayBatDau}}</th>
            <td>{{item.NgayKetThuc}}</td>
            <td>
                <button class="btn btn-success custom" (click)="selectRowValue(item)">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn btn-danger custom" (click)="delete(item.id)">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>