.btn.custom {
  width: unset;
}
.btn.custom ~ .btn.custom {
  margin-left: 5px;
}
.btn-check:focus + .btn.custom,
.btn.custom:focus {
  outline: 0;
  box-shadow: unset;
}
.disabled {
  cursor: default;
}
