.list-group .list-group-item a {
  color: black;
}
.list-group .list-group-item.active a {
  color: white;
}

.list-group .list-group-item:hover,
.list-group .list-group-item:hover a {
  background: #0d6efd;
  color: white;
}
