<nav class="navbar navbar-expand navbar-light navbar-bg px-5 bg-dark">
    <a class="sidebar-toggle js-sidebar-toggle ms-5">
        <img src="assets/img/logo/sv_logo.png" alt="trang chu">
    </a>
    <!-- <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item me-4">
                <a class="nav-link d-none d-sm-inline-block text-light" href="javascript:void(0)">
                    Trang Chủ
                </a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link d-none d-sm-inline-block text-light" href="javascript:void(0)">
                    Tin Tức
                </a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link d-none d-sm-inline-block text-light" href="javascript:void(0)">
                    Đăng Ký KTX
                </a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link d-none d-sm-inline-block text-light" href="javascript:void(0)">
                    Liên Hệ
                </a>
            </li>
        </ul>
    </div> -->
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align">
            <li class="nav-item">
                <a class="nav-link d-none d-sm-inline-block fw-bold text-light" data-bs-toggle="modal"
                    data-bs-target="#login">
                    <i class="align-middle me-1" data-feather="log-in"></i> ĐĂNG NHẬP
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-none d-sm-inline-block text-light" href="javascript:void(0)">
                    <i class="align-middle me-1 bi bi-facebook"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-none d-sm-inline-block text-light" href="javascript:void(0)">
                    <i class="align-middle me-1 bi bi-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-none d-sm-inline-block text-light" href="javascript:void(0)">
                    <i class="align-middle me-1 bi bi-github"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đăng ký thuê phòng</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="">Trang chủ</a>
                </li>
                <li class="list-group-item">
                    <a href="">Tin tức</a>
                </li>
                <li class="list-group-item">
                    <a href="">Thông báo</a>
                </li>
                <li class="list-group-item active">
                    <a href="">Đăng ký thuê phòng</a>
                </li>
                <li class="list-group-item">
                    <a href="">Liên hệ</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header text-uppercase text-center">
                    <h4 class="fw-bolder">Đăng ký thuê phòng</h4>
                </div>
                <div class="card-body">
                    <small>Bằng cách điền thông tin vào form bên dưới rồi click vào nút "Đăng ký" để đăng ký thuê
                        phòng</small>
                    <div class="dropdown-divider"></div>
                    <form class="row" [formGroup]="dangkythue" (ngSubmit)="dangky()">
                        <div class="col-6 mt-2">
                            <label class="form-label">Họ tên:</label>
                            <input type="text" class="form-control" formControlName="hoten" placeholder="nhập họ tên">
                        </div>
                        <div class="col-6 mt-2">
                            <label class="form-label">Mã sinh viên:</label>
                            <input type="text" class="form-control" formControlName="mssv"
                                placeholder="nhập mã sinh viên">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Ngày sinh:</label>
                            <input bsDatepicker type="text" class="form-control" formControlName="ngaysinh"
                                placeholder="dd-mm-yyyy" [bsConfig]="{dateInputFormat: 'DD-MM-YYYY'}">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Giới tính:</label>
                            <select class="form-select" formControlName="gt">
                                <option>----Chọn----</option>
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Điện thoại:</label>
                            <input type="text" class="form-control"
                                onkeypress="if(this.value.length == 10)return false " formControlName="dienthoai"
                                placeholder="nhập số điện thoại">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">CMND:</label>
                            <input type="text" class="form-control" formControlName="cmnd" placeholder="nhập cmnd">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Địa chỉ:</label>
                            <input type="text" class="form-control" formControlName="diachi" placeholder="nhập địa chỉ">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Dân tộc:</label>
                            <input type="text" class="form-control" formControlName="dantoc">
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Khoa:</label>
                            <select class="form-select" formControlName="khoa">
                                <option>----Chọn khoa----</option>
                                <option *ngFor="let item of khoa" [value]="item.MaKhoa">{{item.TenKhoa}}</option>
                            </select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Lớp:</label>
                            <select class="form-select" formControlName="malop">
                                <option>----Chọn lớp----</option>
                                <option *ngFor="let item of lop" [value]="item.MaLop">{{item.TenLop}}</option>
                            </select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Số tháng muốn ở:</label>
                            <select class="form-select" formControlName="thang">
                                <option value="6"> 6 Tháng</option>
                                <option value="11"> 11 Tháng</option>
                            </select>
                        </div>
                        <div class="col-6 mt-3">
                            <label class="form-label">Phòng:</label>
                            <select class="form-select" formControlName="map">
                                <option>----Chọn phòng----</option>
                                <option *ngFor="let item of phong" [value]="item.MaP">{{item.MaP}}</option>
                            </select>
                        </div>
                        <div class="col-12 mt-3 text-center">
                            <button class="btn btn-success"> <i class="bi bi-check-square"></i> Đăng
                                ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center w-100">
    <div class="toast-container position-fixed top-0">
        <div [ngClass]="issubmit?'show':''" class="toast align-items-center text-white bg-success border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body d-flex align-items-center">
                    <i class="bi bi-check2-circle text-white me-1" style="font-size: 18px;"></i>
                    Bạn đã đăng ký thuê phòng thành công.
                </div>
                <div style="cursor: pointer;" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-end"><button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="align-middle px-3">
                    <div class="text-center mt-4">
                        <h1 class="h2">Chào mừng</h1>
                        <small>
                            Đăng nhập vào tài khoản của bạn để tiếp tục
                        </small>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                            <label class="form-label">Tên Đăng Nhập</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Nhập mã nhân viên"
                                formControlName="manv">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Mật Khẩu</label>
                            <input class="form-control form-control-lg" type="password" placeholder="Nhập mật khẩu"
                                formControlName="dienthoai">
                            <small>
                                <a href="javascript:void(0)">Quên mật khẩu?</a>
                            </small>
                        </div>
                        <div>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="remember-me" name="remember-me"
                                    checked>
                                <span class="form-check-label">
                                    Ghi nhớ
                                </span>
                            </label>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-lg btn-primary">Đăng Nhập</button>
                            <!-- <button type="submit" class="btn btn-lg btn-primary">Sign in</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>